*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    background-color: papayawhip;
    color:aquamarine;
}

html{
    font: 1.5rem sans-serif;
}
body{
    min-height: 100vh;
    display:flex;
    flex-flow:column nowrap;
}
