*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size:1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

main{
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

div{
    width: 200px;
    height:200px;
    border: 1px solid black;
    display: grid;
    place-content: center;
}

div:first-child{
    background-color: dodgerblue;
    /* transform:rotateX(180deg); */
    /* transform:scaleX(10%); */
    /* transform:skewX(10deg) */
    /* transition-property: black;
    transition-duration: 2s;
    transition-duration: 0.5s; */
 
}

div:nth-child(2){
    background-color: yellow;
    /* transform:translate(100%, -2rem); */
    /* transform: rotatey(111deg); */
    /* transform:scaley(120%); */
    /* transform:skewy(10deg); */
}

div:last-child{
    background-color: limegreen;
    /* transform: rotateZ(-100deg); */
    /* transform:scale(20% ,30%) */
    /* transform:skew(-10deg,-10deg); */
}

div:hover{
    background-color: black;
    /* transition-property: background-color,transform;
    transition-duration: 2s,3s;
    transition-delay: 0.5s; */
    /* transition-timing-function: linear; */
    transition: all 2s ease 0.5s;
}
div:last-child:hover{
    transform: rotate(180deg);
}

.animate{
    /* animation-name: slide;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count:5;
    animation-direction: normal;
    animation-fill-mode: forwards; */
    animation: slide 3s ease-in-out 0.5s 5 normal forwards;
}
@keyframes slide{
    0%{
        transform:translatex(0)
    }
    33%{
        transform: translatex(600px) rotate(180deg);
    }
    66%{
        transform:translatex(-600px) rotate(180deg);
    }
    100%{
        transform:translatex(0);
        background-color: black;
    }
}